<template>
  <v-layout class="my-3 mx-10" row>
    <v-text-field
        v-model="text"
        placeholder="write something"
        label="New message"
        @keyup.enter="save"
    />
    <v-btn class="mt-3" @click="save">
      Save
    </v-btn>
  </v-layout>
</template>

<script>
import {mapActions} from 'vuex'
import * as Sentry from "@sentry/browser"
export default {
  props: ['messageAttr'],
  data() {
    return {
      text: '',
      id: null
    }
  }
  ,
  watch: {
    messageAttr(newVal) {
      this.text = newVal.text;
      this.id = newVal.id;
    }
  }
  ,
  methods: {
    ...mapActions(['addMessageAction', 'updateMessageAction']),
    save() {
      const message = {
        id: this.id,
        text: this.text
      };
      if (this.id) {
         this.updateMessageAction(message);
      } else {
        this.addMessageAction(message)
      }
      this.id = null;
      this.text = '';
    }
  }
}
</script>

<style>

</style>