<template>
  <v-card class="my-2">
    <v-card-text primary-text>
      <user-link
          :user="message.author"
          size="36"
      ></user-link>
      <div class="pt-3"> <!-- message-text-color -->
        {{ message.text }}
      </div>
    </v-card-text>

    <media v-if="message.link" :message="message"></media>

    <v-card-actions>
      <v-btn value="Edit" @click="edit" small text rounded>Edit</v-btn>
      <v-btn @click="del" small rounded>
        <v-icon>delete</v-icon>
      </v-btn>
    </v-card-actions>
    <comment-list  :comments="message.comments" :message-id="message.id">

    </comment-list>
  </v-card>

</template>

<script>
import {mapActions} from 'vuex'
import Media from '../media/media.vue'
import CommentList from "../comment/CommentList.vue";
import UserLink from "../UserLink.vue";
export default {
  props: ['message', 'editMessage'],
  components: { CommentList,Media,UserLink},
  methods: {
    ...mapActions(['removeMessageAction']),
    edit() {
      this.editMessage(this.message)
    },
    del() {
      this.removeMessageAction(this.message)

    }
  }
}

</script>

<style>
.message-text-color {
  color: black;
}
</style>