<template>
  <v-layout row class="px-8">
    <v-text-field
        v-model="text"
        placeholder="write something"
        label="Add comment"
        @keyup.enter="save"
    />
    <v-btn @click="save">
      Add
    </v-btn>
  </v-layout>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: "CommentForm",
  props: ['messageId'],
  data(){
    return{
      text: ''
    }
  },
  methods:{
    ...mapActions(['addCommentAction']),
    async save(){
        await this.addCommentAction({
            text: this.text,
            message: {
              id: this.messageId
            }

        })
      this.text = ''
    },

  }
}
</script>

<style scoped>

</style>